<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Delete</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .container {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2 class="text-center">Confirm Deletion</h2>
      <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete the following health record?</p>
        <dl class="row">
          <dt class="col-sm-3">Date</dt>
          <dd class="col-sm-9">{{ health.date }}</dd>
          <dt class="col-sm-3">Title</dt>
          <dd class="col-sm-9">{{ health.title }}</dd>
          <dt class="col-sm-3">Description</dt>
          <dd class="col-sm-9">{{ health.description }}</dd>
          <dt class="col-sm-3">Treatment</dt>
          <dd class="col-sm-9">{{ health.treatment }}</dd>
          <dt class="col-sm-3">Goat</dt>
          <dd class="col-sm-9">{{ health.goat }}</dd>
          <dt class="col-sm-3">Manager</dt>
          <dd class="col-sm-9">{{ health.manager }}</dd>
        </dl>
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a href="{% url 'health_list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
