<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if health.pk %}Edit Health Record{% else %}Add Health Record{% endif %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        .container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">{% if health.pk %}Edit{% else %}Add{% endif %} Health Record</h2>
        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.date.id_for_label }}">Date</label>
                {{ form.date }} {% if form.date.errors %}
                <div class="text-danger">{{ form.date.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title</label>
                {{ form.title }} {% if form.title.errors %}
                <div class="text-danger">{{ form.title.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description</label>
                {{ form.description }} {% if form.description.errors %}
                <div class="text-danger">{{ form.description.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.treatment.id_for_label }}">Treatment</label>
                {{ form.treatment }} {% if form.treatment.errors %}
                <div class="text-danger">{{ form.treatment.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.goat.id_for_label }}">Goat</label>
                {{ form.goat }} {% if form.goat.errors %}
                <div class="text-danger">{{ form.goat.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.manager.id_for_label }}">Manager</label>
                {{ form.manager }} {% if form.manager.errors %}
                <div class="text-danger">{{ form.manager.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">
                {% if health.pk %}Update{% else %}Add{% endif %} Health Record
            </button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
