{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .container {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"
        >{% if is_admin %} Admin {% else %} Manager {% endif %} Dashboard</a
      >
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %} {%if is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_list' %}">Users</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'goat_list' %}">Goats Records</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'health_list' %}"
              >Health Records</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="{% url 'user_detail' user.id %}">{{ user.first_name }}</a>
          </li>
        </ul>
        <form
          class="form-inline my-2 my-lg-0"
          method="post"
          action="{% url 'logout' %}"
        >
          {% csrf_token %}
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
            Logout
          </button>
        </form>
        {% endif %}
      </div>
    </nav>

    <div class="container">
      <h1 class="text-center">
        {% if is_admin %} Admin {% else %} Manager {% endif %} Dashboard
      </h1>
      <div class="row">
        {%if is_admin %}
        <div class="col-md-4">
          <h2><a href="{% url 'user_list' %}">Users</a></h2>
          <p>View and manage users.</p>
        </div>
        {% endif %}
        <div class="col-md-4">
          <h2><a href="{% url 'goat_list' %}">Goats</a></h2>
          <p>View and manage goats.</p>
        </div>
        <div class="col-md-4">
          <h2><a href="{% url 'health_list' %}">Health Records</a></h2>
          <p>View and manage health records.</p>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
