{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Goat List</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
        <a href="{% url 'dashboard' %}" class="btn btn-primary">back</a>
      <h2 class="text-center">Goat List</h2>
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Name</th>
            <th>Breed</th>
            <th>Date of Birth</th>
            <th>Manager</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for goat in goats %}
          <tr>
            <td>{{ goat.name }}</td>
            <td>{{ goat.breed }}</td>
            <td>{{ goat.date_of_birth }}</td>
            <td>{{ goat.manager.email }}</td>
            <td>
              <a
                href="{% url 'goat_detail' goat.id %}"
                class="btn btn-info btn-sm"
                >View</a
              >
              <a
                href="{% url 'goat_update' goat.id %}"
                class="btn btn-warning btn-sm"
                >Edit</a
              >
              <a
                href="{% url 'goat_delete' goat.id %}"
                class="btn btn-danger btn-sm"
                >Delete</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'goat_create' %}" class="btn btn-primary">Add Goat</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
