{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>User Detail</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
    <a href="{% url 'dashboard' %}" class="btn btn-primary">back</a>
      <h2 class="text-center">User Detail</h2>
      <table class="table table-bordered mt-3">
        <tr>
          <th>Email</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th>First Name</th>
          <td>{{ user.first_name }}</td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{ user.last_name }}</td>
        </tr>
        <tr>
          <th>User Type</th>
          <td>{{ user.get_user_type_display }}</td>
        </tr>
        <tr>
          <th>Is Staff</th>
          <td>{{ user.is_staff }}</td>
        </tr>
        <tr>
          <th>Is Active</th>
          <td>{{ user.is_active }}</td>
        </tr>
      </table>
      {% if user.is_staff %}
      <a href="{% url 'user_list' %}" class="btn btn-secondary">Back to List</a>
      {% endif %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
